.btn,
.dropdown {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 0 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
}

.dropdown-menu {
  margin: none;
  background-color: black;
  border-radius: 1px !important;
  .dropdown-item {
    background-color: black;
    font-family: var(--primary-font);
    transition: 0.2s all ease-in-out;
    font-size: 1rem !important;
    &:hover {
      background-color: gold;
      color: black !important;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}

.nav-link {
  margin: 0 10px;
  font-size: 0.7rem !important;
  font-weight: 800;
  color: rgb(189, 187, 187) !important;
  font-family: var(--primary-font) !important;
  &:hover {
    color: white !important;
  }
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  padding: 15px !important;
}

.offcanvas-header {
  align-items: start;
}

.offcanvas-title {
  font-family: var(--primary-font) !important;
  font-weight: bold;
}

.navbar-toggler {
  color: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
