#posters {
  p {
    font-family: var(--primary-font);
    font-size: 0.8rem;
    padding: 5px;
  }
  h2 {
    font-family: var(--primary-font);
    font-size: 1rem !important;
    font-weight: bold !important;
    height: 20px;
  }
  button {
    padding: 5px;
    font-size: 0.8rem;
    margin-top: 0;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    font-weight: 400;
    transition: 0.3s all ease-in-out;
    font-family: var(--primary-font) !important;
    &:hover {
      background-color: gold;
      color: black;
      border: 1px solid gold;
    }
  }
  img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    &:hover {
      scale: 1.07;
    }
  }
}

#posters div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 420px;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 30px;
}

#posters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content-buscador-pelicula {
  margin-top: 0;
  padding: 30px;
}

#form-pelicula {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
  max-width: 2000px;
  input {
    &::placeholder {
      font-family: var(--primary-font) !important;
      font-size: 1rem !important;
    }
  }
}

.buscar {
  padding: 5px;
  border: none;
  border-radius: 2px;
  font-family: var(--primary-font);
}

.buscarButton {
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: rgb(148, 175, 231);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
  font-family: var(--primary-font) !important;
  color: white;
}

.buscarButton:hover {
  background-color: rgb(59, 59, 224);
  color: white;
}
