.precios-table {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.precios-header {
  background-color: gold;
  color: black;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.precios-table table {
  width: 100%;
  border-collapse: collapse;
}

.precios-table th,
.precios-table td {
  font-family: var(--primary-font);
  padding: 12px;
  text-align: center;
  border: 1px solid gray;
  color: white;
}

.precios-table th {
  margin-top: 0;
  color: white;
  text-align: center;
  border: 1px solid gray;
}

.precio {
  font-weight: bold;
}

.title-ubicacion {
  text-align: start;
  font-family: var(--primary-font) !important;
  font-weight: 100 !important;
  padding: 20px;
  font-size: 1.5rem;
  color: rgb(189, 187, 187) !important;
}
