:root {
  --primary-font: "Montserrat", sans-serif;
  --bs-navbar-color: white;
}

html {
  color: white;
}

body {
  background-color: black;
  font-family: var(--primary-font);
  color: white;
  text-align: center;
}

h2,
a {
  color: white !important;
}
